asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
coreapi==2.3.3
coreschema==0.0.4
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.3
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
idna==3.10
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.3.0
psycopg2-binary==2.9.7
Pygments==2.19.2
PyJWT==2.9.0
python-decouple==3.8
pytz==2025.2
reportlab==4.4.2
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.0
uritemplate==4.2.0
urllib3==2.5.0
gunicorn==21.2.0
